<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.testMapper">
    <select id="selectAll" resultType="org.example.bean.test">
        select * from test;
    </select>
    <select id="selectOneById" resultType="org.example.bean.test">
        select * from test WHERE id=#{id};
    </select>
    <delete id="deleteDataById" >
        DELETE FROM test WHERE id=#{id};
    </delete>
    <update id="updateOneById">
        UPDATE test SET name=#{name},age=#{age} WHERE id=#{id};
    </update>
    <insert id="insertOne">
        INSERT INTO test (name,age)VALUES(#{name},#{age});
    </insert>
</mapper>